#metamask_banner{
	display: inline-block;
	margin-top: 10px;
	font-size: 20px;
	background-color: rgb(240,240,240);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#metamask_banner:hover{
	background-color: rgb(220,220,220);
}

#how_to_banner{
	border-radius: 10px; 
	background-color: rgb(240,240,240); 
	font-size: 16px; 
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	cursor: pointer;
}

#how_to_banner:hover{
	background-color: rgb(220,220,220);
}

#send_dai_button{
	border-radius: 4px 0px 0px 0px;
	background: linear-gradient(to bottom, #BEFF79 0%, #92FF1D 33%, #69CA00 100%);
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

#get_dai_button{
	border-radius: 0px 4px 0px 0px;
	background: linear-gradient(to bottom, #B4B4B4 0%, #9A9A9A 100%);
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.open_order{
	border-radius: 5px; 
	width: 100%; 
	box-shadow: 1px 1px 3px rgb(150,150,150); 
	margin-right: auto; 
	margin-left: auto;
	text-align: center;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.open_order > table{
	width: 100%; 
	table-layout: fixed;
	word-wrap: break-word;
}

.open_order_header{
	color: rgb(100,100,100);
}

.open_order_header > td{
	padding: 2px;
}

.open_order_details{
	font-size: 20px;
}

.open_order_details > td{
	padding: 2px;
}

.open_order_contact{
	display: none;
	background-color: rgb(220,220,255);
}

.remove_order_container{
	position: absolute;
	bottom: 0px;
	right: 5px;
}

@media screen and (max-width: 991px) {
	#send_dai_button{
		border-radius: 4px 4px 0px 0px;
	}

	#get_dai_button{
		border-radius: 0px;
	}
	.remove_order_container{
		position: static;
		text-align: center;
	}
}